@font-face{
    font-family: Noe;
    src:url('../assets/fonts/noe-display-bold.ttf');
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height:100%;
}

.navbar,.navbar-default{
    padding:25px 60px;
    border-radius:0;
    border:0 !important;
    background-color: transparent !important;
}

.navbar-brand{
    font-weight: bold;
    color:#000629 !important;
    font-family: Noe;
    font-size: 2.5em !important;
}

.navbar-right>li>a{
    font-family: Noe;
    text-align: center;
}

.login-btn{
    color:#000629 !important;
}

.signup-btn,.signup-btn:hover,.signup-btn:focus{
    margin-top:5px;
    background-color:#4c37a8 !important;
    padding:10px 15px 7px 15px !important;
    border-radius:4px;
    color:#fff !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent !important;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color:#000629 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent !important;
}

@media screen and (max-width:768px){
    .navbar,.navbar-default{
        padding:5px !important;
    }
    .signup-btn{
        display: inline-block;
        width: 100%;
    }
}